/* TODO: rename this file something more specific */

#root{
  background-color: #f8fcffda ;
  font-size: large;
  min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff932f, #f31919,#ff932f );
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#f51313, #ff932f,#f31919 );
}
.user-container, .MuiBox-root{
  align-items: center;
  padding:2%;
  background: rgba(236, 236, 236, 0.637);
  border-radius:5px;
  justify-content:flex-end;

}
.button-container{
  font-size: 1rem;
  border: none;
  background: none;
  justify-content: space-evenly;
}

.navbar a, .char-name, .button{
  background: none;
  border: none;
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.char-card{
  text-align: center;
  text-decoration: none;
}

.navbar a:hover, .char-card:hover, .button:hover{
  color: black;
  text-shadow:  0 0 3px orange,  2px 2px 5px red;
  text-decoration: none;
}


